.footerDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-top: 1px solid rgb(151, 98, 0);
}
.footerDiv h1{
    font-size: 1.3rem;
    font-weight: 600;
    color: orange;
}
.imageFooter a img{
    width: 4rem;
}